
@font-face{
  font-family: "TelefonicaWeb-Light.ttf";
  src: url("../..//font/TelefonicaWeb-Light.ttf");
}

body{
  background-color: #00b5cc;
}

ul , li {
  display: block;
  width: 180px;
  margin: 0 auto;
  align-content: center;
  background: #ffffff;
  font-family: "TelefonicaWeb-Light.ttf";
}

li:hover, a:active  {
  background-color: #99ff99;
}

.action{
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: 180px;
  border-radius: 3px;
  align-content: center;
}

.action:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 6px 25px;
  text-align: center;
  text-decoration: none;
}

.action:hover, a:active {
  background-color: red;
}